/* login-background*/
.signup-wrapper{
    width: 430px;
    margin: 55px auto 150px auto;
}
.signup-wrapper .signup-box h6{
    color: #60012C;  
    font-weight: 700;
} 
.signup-wrapper .signup-box p{
    text-align: center;
    font: normal normal normal 16px/20px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.signup-wrapper .signup-box .form-group{
    padding-left: 35px;
    padding-right: 35px; 
}
.signup-wrapper .signup-box .form-control{
    outline: #60012C !important;
    box-shadow: #60012C !important;
}
.signup-wrapper .signup-box .form-control:focus{
    border-color: rgb(151, 144, 144) !important;
}
.login-form  .form-control {
    display: block;
    width: 95%;
    padding: .375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid#C8B08B ;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.login-form .form-group input{
    margin: 7px;
    font-size: 10px;
}
.check i{
    color: #000;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 0;
  }
  .signup-wrapper .form-check{
    text-align: left;
    font-size: 12px;
    padding-left: 72px;
    padding-bottom: 20px;
  }
  .signup-wrapper  .form-check label{
color: #fff;
  }
  .signup-wrapper .form-check a{
      color: #11FFFF;
  }
 
 .signup-box .btn-danger{
    width: 125px;
    height: 39px;
    font-weight: 600;
    padding: 5px;
    color: #FFFFFF;
    background-color: #C8B08B !important;
    border: 1px solid#C8B08B;
}

    .signup-box form .forget p {
        text-align: right;
        font: italic normal 300 14px/25px Poppins;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        margin-right: 38px;
}

.signup-box .new-member span{
    color: #60012C; 
    font-weight: 600;
}

@media screen and (min-width:1920px) and (max-width: 1980px) {
.signup-wrapper .signup-box h6 {
        font-size: 24px;
    }
    .signup-wrapper .signup-box p {
        padding-top: 10px;
        font-size: 22px;
    }
    .signup-wrapper {
        width: 465px;
        margin: 80px auto 290px auto;
    }
    .signup-wrapper .signup-box .form-control {
        font-size: 20px;
    }
    .check i {
        font-size: 17px;
        color: #000;
    }
}
@media screen and (min-width:1600px) and (max-width: 1919px) {
    .signup-wrapper .signup-box h6 {
            font-size: 24px;
        }
        .signup-wrapper .signup-box p {
            padding-top: 10px;
            font-size: 22px;
        }
        .signup-wrapper {
            width: 465px;
            margin: 80px auto 270px auto;
        }
        .signup-wrapper .signup-box .form-control {
            font-size: 20px;
        }
        .check i {
            font-size: 17px;
            color: #000;
        }
    }
    @media screen and (min-width:1440px) and (max-width: 1599px) {
        .signup-wrapper .signup-box h6 {
                font-size: 24px;
            }
            .signup-wrapper .signup-box p {
                padding-top: 10px;
                font-size: 22px;
            }
            .signup-wrapper {
                width: 465px;
                margin: 40px auto 52px auto;
            }
            .signup-wrapper .signup-box .form-control {
                font-size: 20px;
            }
            .check i {
                font-size: 17px;
                color: #000;
            }
        }

        @media screen and (max-width:767px){
            .signup-wrapper {
                width: 350px;
                margin: 75px auto;
            }
            .footer {
                display: block;
            }
            
            }